.projects-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 90px; /* Adjust this value based on your preference */
  color: #ffffff;
  font-family: 'Arial', sans-serif;
}

  .project {
    margin-bottom: 30px;
    margin-left: 100px;
  }
  
  h1 {
    /* margin-left: -80%; */
    margin-right: 70%;
    width: 300px;
  }
  
  h2 {
    color: white;
  }
  
  p {
    line-height: 1.5;
  }
  
  /* You can add more styling based on your preferences */
  